body {
  margin: 0;
  padding: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  background-image: url("./background.png") !important;
  color: #fff!important;
}


/* ==================================================================footer================================================================== */
.col-sm-4{
  display: flex;
  justify-content:  center;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

/* =============================================================About Me======================================================================= */

.writeUpCard {
  color: black!important;
}


/* ====================================================================contact=========================================================================== */

.contactform {
  color: black !important;
}


/* =======================================================================header============================================================================ */

.headerLink{
  color: rgba(255,255,255,.5);
  background-color: transparent;
  text-decoration: none;
  
}

.headerLink:hover{
  text-decoration: none;
  color: rgb(218, 207, 207);
}

.dropDownItem{
  color: rgb(54, 52, 52)!important;
}